.header{
  background-color: #cecece;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}

.footer{
  background-color: #494949;
  color: whitesmoke;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}

.copyright{
  background-color: #494949;
  color: whitesmoke;
  margin:0px auto;
  text-align: center;
  font-size: small;
}