.header{
  background-color: #cecece;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}

.footer{
  background-color: #494949;
  color: whitesmoke;
  font-weight: bold;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}

.row-content {
  margin:0px auto;
  padding: 10px 0px 10px 0px;
}

.copyright{
  background-color: #494949;
  color: whitesmoke;
  font-weight: normal;
  margin:0px auto;
  text-align: center;
  font-size: small;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
